.top-bar {
  background: #3F4246;
  color: #ffffff;
}
.top-bar a {
  text-decoration: none;
  color: #ffffff;
}
.top-bar .top-bar-inner {
  width: 1180px;
  margin: 0 auto;
  height: 25px;
  line-height: 25px;
}
.top-bar .top-bar-inner .mobile {
  float: left;
}
.top-bar .top-bar-inner .mobile i {
  display: inline-block;
  background: url(../public/images/sp.png) no-repeat 200em 0;
  overflow: hidden;
  vertical-align: top;
  width: 10px;
  height: 12px;
  line-height: 12px;
  background-position: -52px -2px;
  float: left;
  margin: 6px 6px 0 0;
}
.top-bar .top-bar-inner .top-bar-nav {
  float: right;
}
.top-bar .top-bar-inner .top-bar-nav .separater {
  color: #999;
  padding: 0 6px;
}
.top-bar .top-bar-inner .top-bar-nav span {
  float: left;
  margin-right: 8px;
}
.top-main {
  background-color: #ff4400;
}
.top-main .top-main-inner {
  width: 1180px;
  margin: 0 auto;
  height: 70px;
  line-height: 70px;
}
.top-main .top-main-inner .logo {
  float: left;
  height: 47px;
  line-height: 47px;
  width: 260px;
  overflow: hidden;
  margin-top: 11.5px;
}
.top-main .top-main-inner .logo a img {
  vertical-align: top;
}
.top-main .top-main-inner .send {
  float: right;
  background: #D92901;
  height: 70px;
  width: 108px;
}
.top-main .top-main-inner .send a {
  text-decoration: none;
  color: #ffffff;
}
.top-main .top-main-inner .send a i {
  width: 20px;
  height: 20px;
  margin: 25px 4px 0px 15px;
  float: left;
  background: url(../public/images/sp.png) no-repeat -67px 0;
}
#footer {
  text-align: center;
  background-color: #3F4246;
  height: 120px;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0px;
}
.left {
  width: 200px;
  float: left;
}
.right {
  width: 978px;
  border: 1px solid #dddddd;
  min-height: 580px;
  float: right;
  margin: 0 auto;
}
.content {
  display: block;
}
.content .content-inner {
  padding-top: 22px;
  margin: 0 auto;
  width: 1180px;
  height: auto ;
}
html,
body {
  font-family: '微软雅黑', '宋体', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
