html,
body {
  font-family: '微软雅黑', '宋体', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: #F4F4F4;
}
.top-bar {
  background: #3F4246;
  color: #ffffff;
}
.top-bar a {
  text-decoration: none;
  color: #ffffff;
}
.top-bar .top-bar-inner {
  width: 1180px;
  margin: 0 auto;
  height: 25px;
  line-height: 25px;
}
.top-bar .top-bar-inner .mobile {
  float: left;
}
.top-bar .top-bar-inner .mobile i {
  display: inline-block;
  background: url(../public/images/sp.png) no-repeat 200em 0;
  overflow: hidden;
  vertical-align: top;
  width: 10px;
  height: 12px;
  line-height: 12px;
  background-position: -52px -2px;
  float: left;
  margin: 6px 6px 0 0;
}
.top-bar .top-bar-inner .top-bar-nav {
  float: right;
}
.top-bar .top-bar-inner .top-bar-nav .separater {
  color: #999;
  padding: 0 6px;
}
.top-bar .top-bar-inner .top-bar-nav span {
  float: left;
  margin-right: 8px;
}
.top-main {
  background-color: #ff4400;
}
.top-main .top-main-inner {
  width: 1180px;
  margin: 0 auto;
  height: 70px;
  line-height: 70px;
}
.top-main .top-main-inner .logo {
  float: left;
  height: 47px;
  line-height: 47px;
  width: 260px;
  overflow: hidden;
  margin-top: 11.5px;
}
.top-main .top-main-inner .logo a img {
  vertical-align: top;
}
.top-main .top-main-inner .send {
  float: right;
  background: #D92901;
  height: 70px;
  width: 108px;
}
.top-main .top-main-inner .send a {
  text-decoration: none;
  color: #ffffff;
  height: 70px;
  line-height: 70px;
  display: inline-block;
}
.top-main .top-main-inner .send a i {
  width: 20px;
  height: 20px;
  margin: 25px 4px 0px 15px;
  float: left;
  background: url(../public/images/sp.png) no-repeat -67px 0;
}
#footer {
  text-align: center;
  background-color: #3F4246;
  height: 120px;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0px;
}
.nav {
  width: 200px;
  float: left;
}
.nav .nav-item {
  border-bottom: 1px solid #D9D9D9;
  border-top: 1px solid #ffffff;
  padding: 10px 0;
  display: block;
}
.nav .nav-item .nav-link {
  font-size: 14px;
  font-family: '宋体';
  color: #666666;
  display: block;
  height: 34px;
  line-height: 34px;
}
.nav .nav-item .lev-1 {
  padding-left: 32px;
  font-weight: bold;
}
.nav .nav-item .lev-2 {
  padding-left: 57px;
}
.nav .nav-item .current {
  background-color: #ABB3BE;
  color: #ffffff;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
}
.nav .nav-item .current i {
  background-position: -26px 0;
}
.nav i {
  background: url(../public/images/sp.png) no-repeat 200em 0;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  float: left;
  margin-right: 3px;
  margin-top: 9px;
  width: 21px;
  height: 16px;
}
.nav .nav-home i {
  background-position: 0 0;
}
.nav .nav-house i {
  background-position: 0 -21px;
}
.nav .nav-customer i {
  background-position: 0 -42px;
}
.nav .nav-commission i {
  background-position: 0 -63px;
}
.nav .nav-account i {
  background-position: 0 -85px;
}
.right {
  width: 978px;
  border: 1px solid #dddddd;
  min-height: 580px;
  float: right;
  margin: 0 auto;
}
.content {
  display: block;
}
.content .content-inner {
  padding-top: 22px;
  margin: 0 auto;
  width: 1180px;
  height: auto ;
}
