.top-bar {
  background: #3F4246;
}
.top-bar a {
  color: #fff;
  text-decoration: none;
}
.top-bar .top-bar-inner {
  width: 1180px;
  margin: 0 auto;
  height: 25px;
  line-height: 25px;
}
.top-bar .top-bar-inner .mobile {
  float: left;
}
.top-bar .top-bar-inner .mobile i {
  display: inline-block;
  background: url(../public/images/sp.png) no-repeat 200em 0;
  overflow: hidden;
  vertical-align: top;
  width: 10px;
  height: 12px;
  background-position: -52px -2px;
  float: left;
  margin: 6px 6px 0 0;
}
.top-main {
  background-color: #ff4400;
}
.top-main .top-main-inner {
  width: 1180px;
  margin: 0 auto;
  height: 70px;
  line-height: 70px;
}
#footer {
  text-align: center;
  background-color: #3F4246;
  height: 120px;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0px;
}
html,
body {
  font-family: '微软雅黑', '宋体', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
