@color:#fff;
.top-bar{
    background:#3F4246;
    color:@color;
    a{
        text-decoration:none;
        color:@color;
    }
    .top-bar-inner{
        .mobile{
            float:left;
            i{
              display: inline-block;
              background: url(../public/images/sp.png) no-repeat 200em 0;
              overflow: hidden;
              vertical-align: top;
              width: 10px;
              height: 12px;
              background-position: -52px -2px;
              float: left;
              margin: 6px 6px 0 0;
            }
        }
        width:@innerWidth;
        margin: 0 auto;
        height:25px;
        line-height:25px;
        .top-bar-nav{
          float:right;
          .separater{
            color: #999;
            padding: 0 6px;
          }
          span{
            float: left;
            margin-right: 8px;
          }
        }
    }
    
}